

@{
    Layout = "~/Views/Shared/_AnasayfaLayout1.cshtml";
}
<form asp-controller="Account" asp-action="ResetPasswordCode" method="post">
    
    <div class="container mt-4">

    
        <div class="form-group pl-5 pr-5">
            <label >E-Posta</label>
            <input  type="text" name="code" placeholder="Kodu Girin" />
           
        </div>
        <div class="form-group pl-5 pr-5">
            <label >Yeni Şifre</label>
            <input  type="password" name="password" placeholder="Yeni Şİfreyi Girin" />
           
        </div>


    </div>
    <button type="submit" value="ResetPassword " class="btn-success ml-5">Gönder</button>

</form>